* {
  margin       : 0;
  padding      : 0;
  box-sizing   : border-box;
  align-content: center;

}

/* 
 #192028 (Light Black) (objects)
 #313842 (Dark Gray) (Background)
 #BEBEBE (Light Gray) (text)
 */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: stretch;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background : #313842;
  color      : #BEBEBE;
}
/* 1920x1080
  widthxheight
  778x894
*/
.infoCard{
  display: flex;
  flex-direction: column;
  width: 40.52%;
  height: 82.78%;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
  border-radius: 3%;
  min-height: 650px;
}
.infoCardChild{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
}
